"""pagarmeapisdk.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from pagarmeapisdk.api_helper import APIHelper
from pagarmeapisdk.configuration import Server
from pagarmeapisdk.controllers.base_controller import (
    BaseController,
)
from pagarmeapisdk.http.http_method_enum import (
    HttpMethodEnum,
)
from pagarmeapisdk.models.get_transfer import (
    GetTransfer,
)
from pagarmeapisdk.models.list_transfers import (
    ListTransfers,
)


class TransfersController(BaseController):
    """A Controller to access Endpoints in the pagarmeapisdk API."""

    def __init__(self, config):
        """Initialize TransfersController object."""
        super(TransfersController, self).__init__(config)

    def get_transfer_by_id(self,
                           transfer_id):
        """Perform a GET request to /transfers/{transfer_id}.

        Args:
            transfer_id (str): The request template parameter.

        Returns:
            GetTransfer: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfers/{transfer_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("transfer_id")
                .value(transfer_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("httpBasic")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetTransfer.from_dictionary),
        ).execute()

    def create_transfer(self,
                        request):
        """Perform a POST request to /transfers/recipients.

        Args:
            request (CreateTransfer): The request body parameter.

        Returns:
            GetTransfer: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfers/recipients")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(request))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBasic")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetTransfer.from_dictionary),
        ).execute()

    def get_transfers(self):
        """Perform a GET request to /transfers.

        Gets all transfers

        Returns:
            ListTransfers: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/transfers")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("httpBasic")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListTransfers.from_dictionary),
        ).execute()
